%body
  %h1
    IP Camera Dashboard
  %p
    %a{:href => "/"} Grid View
    %a{:href => "/tiled"} Tiled View
    %a{:href => "/venues"} Venues
  %div.status
    %div.status_item{:id => "total"}
      = "Total(#{total()})"
    %div.status_item{:id => "online"}
      = "Online(#{online()})"
    %div.status_item{:id => "offline"}
      = "Offline(#{offline()})"
  -if venues.any?
    %div.grid_venues
      - venues.each do |venue|
        %div.grid_venue
          -unless venue[4].nil?
            %a{:href => "feeds/#{venue[0]}/#{venue[0]}_big.jpeg"}
              %img{:alt => "#{venue[0]}", :src => "feeds/#{venue[0]}/#{venue[0]}.jpeg"}
            -if not_regularly_updating(venue[4])
              %span.flag
                = "#{venue[0]} (#{time_to_string(venue[4])})"
            -else
              %span.updating
                = venue[0]
          -if venue[4].nil?
            %img{:src => "feeds/placeholder/no_connection.jpeg"}
            %span.flag
              = "#{venue[0]}"
  -else
    = "Sorry IP camera information not setup yet."
